.awesome {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 60px;
  @include mobile-s {
    justify-content: center;
    text-align: center;
  }

  &__info-title {
    padding-top: 45px;
    padding-bottom: 26px;
    @include mobile {
      padding-top: 35px;
      padding-bottom: 20px;
    }
    @include mobile-s {
      padding-top: 10px;
      padding-bottom: 15px;
    }
  }

  &__info-text {
    line-height: 30px;
    padding-bottom: 60px;
    @include desktop {
      padding-bottom: 40px;
    }
    @include mobile {
      padding-bottom: 30px;
      line-height: 23px;
    }
    @include mobile-s {
      padding-bottom: 20px;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    width: clamp(14rem, 11.3099rem + 28.5446vw, 37rem);
    @include desktop {
      width: clamp(11rem, 9.3099rem + 28.5446vw, 37rem);
    }
    @include mobile {
      width: clamp(10rem, 7.0099rem + 28.5446vw, 37rem);
    }
    @include mobile-s {
      display: none;
    }
  }
}

.awesome__info-form {
  padding: 8px 11px 8px 18px;
  display: flex;
  width: 100%;
  background-color: #283036;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  input {
    background-color: #283036;
    color: var(--color-light);
  }
  &__con {
    display: flex;
    gap: 7px;
  }
}
.awesome_stay-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.awesome__socials-list {
  display: flex;
  padding-top: 8vw;
  gap: 37px;
  transition: all 0.5s;
  @include desktop {
    padding-top: 4vw;
  }
  img {
    @include hover {
      transform: scale(1.2);
    }
  }
  @include mobile-s {
    justify-content: center;
  }
}
.awesome__socials-icon {
  @include mobile {
    max-width: 30px;
  }
  @include mobile-s {
    max-width: 27px;
  }
}
.awesome__btn {
  @include mobile {
    padding: 8px 18px;
  }
}
