.dev {
  padding-top: var(--padding-section);

  &__slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 60px;
    @include desktop {
      gap: 30px;
    }
    @include mobile {
      gap: 10px;
    }
  }

  &__slide-people {
    position: relative;
    &__name {
      position: absolute;
      overflow: hidden;
      z-index: 1;
      right: 20px;
      bottom: 25px;
      border-radius: 8px;
      z-index: 10;
      backdrop-filter: blur(8px);
      background: rgba(40, 48, 54, 0.2);
      padding: 10px 22px;
      box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.13);
      @include mobile {
        padding: 5px 14px;
        bottom: 10px;
      }
      &::after {
        content: "";
        position: absolute;
        right: 31px;
        bottom: 34px;
        width: 20px;
        height: 20px;
        background-color: var(--color-accent);
        filter: blur(20px);
        z-index: 5;
      }
      &::before {
        content: "";
        position: absolute;
        right: 7px;
        bottom: -10px;
        width: 30px;
        height: 25px;
        background-color: rgb(0 211 255);
        filter: blur(19px);
        z-index: 8;
      }
      &-all {
        color: rgba(255, 255, 255, 0.78);
        font-size: 26px;
        @include mobile {
          font-size: 16px;
        }
      }
      &-prof {
        color: var(--color-grey);
        font-size: 16px;
        @include mobile {
          font-size: 12px;
        }
      }
    }
  }

  &__slide-info {
    color: rgba(255, 255, 255, 0.78);
    font-size: 14px;
    max-width: 395px;
    line-height: 30px;
    letter-spacing: 1.5%;
    @include desktop {
      font-size: 12px;
    }
    &__text {
      position: relative;
      &::before {
        content: url(../../src/Components/Dev/Image/psevdo.png);
        position: absolute;
        top: -50px;
        left: -45px;
      }
    }
  }
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  color: var(--color-accent) !important;
}

.ant-carousel .slick-prev::before {
  color: currentColor !important;
}

.slick-arrow.slick-prev {
  font-size: 20px !important;
}

.ant-carousel .slick-next::before {
  color: currentColor !important;
}

.slick-arrow.slick-next::after,
.slick-arrow.slick-prev::after {
  width: 24px;
  height: 24px;
  border-inline-width: 4.5px 0;
  border-block-width: 4.5px 0;
}
.ant-carousel .slick-dots li button {
  background: rgba(61, 74, 85, 1);
  width: 44px;
  height: 8px;
}
.ant-carousel .slick-dots {
  gap: 30px;
}

.ant-carousel .slick-dots li.slick-active button {
  background: var(--color-accent);
}
.ant-carousel .slick-prev.slick-disabled,
.ant-carousel .slick-next.slick-disabled {
  opacity: 1;
  color: rgba(255, 255, 255, 0.28) !important;
}
.ant-carousel .slick-dots-bottom {
  bottom: -100px;
}
.dev__slide-people__image {
  @include desktop {
    max-width: 370px;
  }
  @include mobile {
    max-width: 265px;
  }
}
.dev__slide-info__text {
  @include mobile {
    max-width: 210px;
    line-height: 25px;
  }
}
