.more {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  @include desktop {
    gap: 35px;
  }
  &__info {
    max-width: 425px;
    @include desktop {
      max-width: 300px;
    }
  }

  &__info-title {
    font-size: var(--title-size);
    color: var(--color-light);
    padding-bottom: 30px;
    @include desktop {
      padding-bottom: 20px;
    }
  }

  &__info-text {
    line-height: 30px;
    padding-bottom: 60px;
    @include desktop {
      padding-bottom: 45px;
    }
  }

  &__tools {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 50px 24px;
    @include desktop {
      gap: 25px 20px;
    }
  }
}
.more--tools {
  max-width: 288px;
  padding: 28px 22px;
}
.more__btn {
  padding: 16px 40px;
}
