.popular {
  position: relative;
  padding-top: var(--padding-section);
  text-align: center;
  &__error {
    position: absolute;
  }
  &__tools {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 100px;
    column-gap: 20px;
    @include desktop {
      row-gap: 60px;
    }
    @include mobile {
      row-gap: 25px;
    }
    @include mobile-s {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
  &__info-text {
    line-height: 25px;
    padding-top: 20px;
    margin-bottom: 90px;
    @include desktop {
      margin-bottom: 60px;
    }
    @include mobile {
      margin-bottom: 40px;
    }
  }
  &__button {
    color: var(--color-accent);
    padding: 17px 38px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-top: 100px;
    @include mobile {
      margin-top: 50px;
    }
    @include mobile-s {
      bottom: 94px;
      right: 8vw;

      position: absolute;
    }
  }
}
.err {
  display: flex;
  justify-content: center;
  color: rgb(255, 0, 0, 0.7);
  font-size: 24px;
  max-width: 350px;
  margin-inline: auto;
}
