.trusted {
  padding-block: var(--padding-section);

  &__wrapper {
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: inset 0px 0px 5px #ffffff1a;
    border-radius: 25px;
    padding: 55px 83px;
    background: rgba(44, 53, 61, 0.2);
    @include desktop {
      padding: 48px 65px;
    }

    &::before {
      content: "";
      position: absolute;
      left: -15px;
      top: -33px;
      width: 100px;
      height: 100px;
      background-image: linear-gradient(
        to right bottom,
        #f66a28,
        #e66325,
        #d65c22,
        #c65620,
        #b74f1d,
        #ad4a1b,
        #a44518,
        #9a4016,
        #933c13,
        #8c3811,
        #86340e,
        #7f300b
      );
      border-radius: 50%;
      filter: blur(37px);
    }
  }

  &__title {
    font-size: 24px;
    color: #ffffff8c;
  }

  &__brands-list {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    @include desktop {
      padding-top: 44px;
    }
  }

  &__brands-item {
    @include desktop {
      max-width: 145px;
    }
  }
}
