body {
  font-family: var(--font-family-base);
  font-size: var(--main-size);
  color: var(--color-grey);
  background-color: var(--color-strict-gray);
}
* {
  border: 0;
  // outline: 1px solid green !important;
}

.container {
  max-width: 1255px;
  padding-inline: 15px;
  margin-inline: auto;
  @include desktop {
    max-width: 900px;
  }

  @include mobile {
    max-width: 670px;
  }
  @include mobile-s {
    max-width: 430px;
  }
}

.none {
  display: none !important;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.6s;
  @include hover {
    transform: translate(0, -2px);
  }
  @include desktop {
    padding: 10px 19px;
    font-size: 15px;
  }
}
.active {
  background-color: var(--color-accent);
}
.title {
  font-size: var(--title-size);
  color: var(--color-light);
  line-height: 140%;
  letter-spacing: 0%;
}
