:root {
  --color-grey: rgba(255, 255, 255, 0.55);
  --color-light: rgba(255, 255, 255, 0.9);
  --color-accent: #ff6e30;
  --color-accent-active: #ffa537;
  --color-accent-inactive: rgba(255, 165, 55, 0.55);
  --color-strict-gray: #1e252b;

  --padding-section: 200px;
  --main-size: 18px;
  --title-size: 48px;

  --font-family-base: "Poppins", sans-serif;
  --font-family-alt: "Roboto", sans-serif;

  @include desktop {
    --title-size: 36px;
    --main-size: 16px;
    --padding-section: 140px;
  }
  @include mobile {
    --title-size: 30px;
    --main-size: 14px;
    --padding-section: 110px;
  }
  @include mobile-s {
    --title-size: 28px;
    --main-size: 12px;
    --padding-section: 90px;
  }
}
