:root {
  --color-grey: rgba(255, 255, 255, 0.55);
  --color-light: rgba(255, 255, 255, 0.9);
  --color-accent: #ff6e30;
  --color-accent-active: #ffa537;
  --color-accent-inactive: rgba(255, 165, 55, 0.55);
  --color-strict-gray: #1e252b;

  --main-size: 18px;
  --title-size: 48px;

  --font-family-base: "Poppins", sans-serif;
  --font-family-alt: "Roboto", sans-serif;
}
