@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after,
*:focus,
*:active {
  box-sizing: border-box;
  border: none;
}

ul,
li,
a {
  padding: 0;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/**
         Убираем внутренние отступы слева тегам списков,
         у которых есть атрибут class
        */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
         Убираем внешние отступы body и двум другим тегам,
         у которых есть атрибут class
        */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
         Убираем внешние отступы вертикали нужным тегам,
         у которых есть атрибут class
        */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
         Убираем стандартный маркер маркированному списку,
         у которого есть атрибут class
        */
:where(ul[class]) {
  list-style: none;
}

/**
         Обнуляем вертикальные внешние отступы параграфа,
         объявляем локальную переменную для внешнего отступа вниз,
         чтобы избежать взаимодействие с более сложным селектором
        */
/**
         Внешний отступ вниз для параграфа без атрибута class,
         который расположен не последним среди своих соседних элементов
        */
/**
         Упрощаем работу с изображениями
        */
img {
  display: block;
  max-width: 100%;
}

/**
         Наследуем свойства шрифт для полей ввода
        */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  height: 100%;
  /**
           Плавный скролл
          */
  scroll-behavior: smooth;
}

body {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  min-height: 100%;
  /**
           Унифицированный интерлиньяж
          */
  line-height: 1.5;
}

/**
         Приводим к единому цвету svg-элементы
        */
svg *[stroke] {
  stroke: currentColor;
}

/**
         Чиним баг задержки смены цвета при взаимодействии с svg-элементами
        */
svg * {
  transition-property: fill, stroke;
}

/**
         Удаляем все анимации и переходы для людей,
         которые предпочитают их не использовать
        */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms;
    scroll-behavior: auto !important;
  }
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul,
ul li {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  padding: 0;
}

.btn,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:focus,
button:focus {
  outline: none;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--main-size);
  color: var(--color-grey);
  background-color: var(--color-strict-gray);
}

* {
  border: 0;
}

.container {
  max-width: 1255px;
  padding-inline: 15px;
  margin-inline: auto;
}
@media (max-width: 1149px) {
  .container {
    max-width: 900px;
  }
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.6s;
}
@media (hover: hover) {
  .button:hover {
    transform: translate(0, -2px);
  }
}
@media (hover: none) {
  .button:active {
    transform: translate(0, -2px);
  }
}
@media (max-width: 1149px) {
  .button {
    padding: 10px 19px;
    font-size: 15px;
  }
}

.active {
  background-color: var(--color-accent);
}

.title {
  font-size: var(--title-size);
  color: var(--color-light);
  line-height: 140%;
  letter-spacing: 0%;
}

@font-face {
  font-family: "Poppins";
  src: url("./../../../fonts/AnyConv.com__Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/AnyConv.com__Roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
:root {
  --color-grey: rgba(255, 255, 255, 0.55);
  --color-light: rgba(255, 255, 255, 0.9);
  --color-accent: #ff6e30;
  --color-accent-active: #ffa537;
  --color-accent-inactive: rgba(255, 165, 55, 0.55);
  --color-strict-gray: #1e252b;
  --main-size: 18px;
  --title-size: 48px;
  --font-family-base: "Poppins", sans-serif;
  --font-family-alt: "Roboto", sans-serif;
}

.header {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__name {
  display: flex;
  gap: 12px;
  align-items: center;
}
.header__name-image {
  height: 38px;
  aspect-ratio: 1;
}
.header__name-title {
  color: var(--color-light);
}
.header__list {
  display: flex;
  gap: 27px;
}
.header__item {
  transition: all 0.5s;
}
@media (hover: hover) {
  .header__item:hover {
    color: var(--color-accent);
    transform: translate(0, -1px);
  }
}
@media (hover: none) {
  .header__item:active {
    color: var(--color-accent);
    transform: translate(0, -1px);
  }
}
.header__item-menu {
  display: flex;
  align-items: center;
  gap: 2px;
}
.header__link {
  color: var(--color-grey);
  font-size: 16px;
  transition: all 0.5s;
}
@media (hover: hover) {
  .header__link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__link:active {
    color: var(--color-accent);
  }
}

.ant-menu {
  position: relative;
}

.ant-menu-submenu-inline {
  width: 100%;
}

:where(.css-dev-only-do-not-override-cdzvx5).ant-menu-inline .ant-menu-sub.ant-menu-inline {
  position: absolute;
  width: 100%;
}

.ant-menu-submenu-title {
  background-color: var(--color-strict-gray);
  max-width: 200px;
}

.ant-menu {
  background-color: var(--color-strict-gray);
  width: 205px !important;
}

.ant-menu-submenu-title {
  height: 30px;
  color: var(--color-accent) !important;
}

@media (max-width: 1149px) {
  .header__burger {
    width: 205px;
  }
}

.ant-menu-item {
  max-width: 200px;
}
@media (hover: hover) {
  .ant-menu-item:hover {
    color: var(--color-accent) !important;
  }
}
@media (hover: none) {
  .ant-menu-item:active {
    color: var(--color-accent) !important;
  }
}

.ant-menu-item-selected {
  background-color: var(--color-accent) !important;
  color: #fff !important;
}

:where(.css-dev-only-do-not-override-cdzvx5).ant-menu-light .ant-menu-item {
  color: var(--color-grey);
}

@media (hover: hover) {
  .ant-menu-item.ant-menu-item-selected:hover {
    color: var(--color-grey) !important;
  }
}
@media (hover: none) {
  .ant-menu-item.ant-menu-item-selected:active {
    color: var(--color-grey) !important;
  }
}

.ant-menu-sub {
  box-shadow: 0px 5px 37px 10px rgba(255, 110, 48, 0.7019607843) inset !important;
  border-radius: 8px !important;
}

.field {
  display: flex;
  flex-direction: column;
}

.ant-modal-content {
  background-color: var(--color-strict-gray) !important;
  color: #fff;
}

.ant-modal-title {
  background-color: var(--color-strict-gray) !important;
  color: #fff !important;
  font-size: 20px !important;
  padding-bottom: 15px;
}

.input__class {
  max-width: 200px;
  border-radius: 8px;
  padding: 2px 5px;
  background-color: var(--color-strict-gray);
  border: 1px solid var(--color-grey);
  color: var(--color-grey);
}

.label__for {
  padding-bottom: 5px;
}

.field {
  padding-bottom: 15px;
}

.input__new {
  color: var(--color-grey);
  transition: all 0.2s;
}
@media (hover: hover) {
  .input__new:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .input__new:active {
    color: var(--color-accent);
  }
}

.input__buttons {
  display: flex;
  gap: 20px;
  justify-content: start;
}

.input__sign {
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color-grey);
}
@media (hover: hover) {
  .input__sign:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .input__sign:active {
    color: var(--color-accent);
  }
}

.ant-btn-variant-solid {
  background-color: var(--color-accent) !important;
}

.ant-btn-submit {
  display: none;
}

.input__error {
  border: 1px solid red;
}

.awesome {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 60px;
}
.awesome__info-title {
  padding-top: 45px;
  padding-bottom: 26px;
}
.awesome__info-text {
  line-height: 30px;
  padding-bottom: 60px;
}
.awesome__image {
  position: absolute;
  right: 0;
  width: clamp(14rem, 11.3099rem + 28.5446vw, 37rem);
}

.awesome__info-form {
  padding: 8px 11px 8px 18px;
  display: flex;
  width: 100%;
  background-color: #283036;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
}
.awesome__info-form input {
  background-color: #283036;
  color: var(--color-light);
}
.awesome__info-form__con {
  display: flex;
  gap: 7px;
}

.awesome_stay-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.awesome__socials-list {
  display: flex;
  padding-top: 8vw;
  gap: 37px;
  transition: all 0.5s;
}
@media (hover: hover) {
  .awesome__socials-list img:hover {
    transform: scale(1.2);
  }
}
@media (hover: none) {
  .awesome__socials-list img:active {
    transform: scale(1.2);
  }
}

.popular {
  padding-top: 200px;
  text-align: center;
}
.popular__error {
  position: absolute;
}
.popular__tools {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 100px;
}
.popular__info-text {
  line-height: 25px;
  padding-top: 20px;
  margin-bottom: 90px;
}
.popular__button {
  color: var(--color-accent);
  padding: 17px 38px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-top: 100px;
}

.err {
  display: flex;
  justify-content: center;
  color: rgba(255, 0, 0, 0.7);
  font-size: 24px;
  max-width: 350px;
  margin-inline: auto;
}

.tools__button {
  color: var(--color-gray);
  padding: 9px 35px;
  border-radius: 8px;
  transition: all 0.2s;
}
@media (hover: hover) {
  .tools__button:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .tools__button:active {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
.tools_con {
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  text-align: start;
  max-width: 392px;
  padding: 30px;
  transition: all 0.5s;
  transition-duration: 0.5s;
}
@media (hover: hover) {
  .tools_con:hover {
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    background: rgba(40, 48, 54, 0.3);
    stroke: rgba(255, 255, 255, 0.08) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0);
  }
  .tools_con:hover::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 74px;
    right: -1px;
    top: -13px;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(255, 110, 48, 0.6);
    filter: blur(28px);
  }
}
@media (hover: none) {
  .tools_con:active {
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    background: rgba(40, 48, 54, 0.3);
    stroke: rgba(255, 255, 255, 0.08) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0);
  }
  .tools_con:active::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 74px;
    right: -1px;
    top: -13px;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(255, 110, 48, 0.6);
    filter: blur(28px);
  }
}
.tools__text {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 42px;
}
.tools__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tools__buttons-main {
  display: flex;
  gap: 12px;
}
@media (hover: hover) {
  .tools__buttons-main__like:hover path {
    fill: #fd3b41;
    fill-opacity: 1;
  }
}
@media (hover: none) {
  .tools__buttons-main__like:active path {
    fill: #fd3b41;
    fill-opacity: 1;
  }
}

.top__info {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}
.top__info-head__name {
  font-size: 24px;
  color: var(--color-light);
}
.top__info-head__payment {
  color: var(--color-accent-active);
}

.tools__buttons-main__like,
.tools__buttons-main__folder {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  border-radius: 8px;
}

.tools--active {
  background-color: #283036;
}

.tools__opacity {
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgba(40, 48, 54, 0.6);
  stroke: rgba(255, 255, 255, 0.08) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0);
}
.tools__opacity::after {
  transition: all 1s;
  content: "";
  position: absolute;
  width: 75px;
  height: 74px;
  right: -1px;
  top: -13px;
  border-radius: 50%;
  background: rgba(255, 110, 48, 0.6);
  filter: blur(28px);
}

.button__like-selected {
  background-color: #283036;
}

.trusted {
  padding-block: 200px;
}
.trusted__wrapper {
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.1019607843);
  border-radius: 25px;
  padding: 55px 83px;
  background: rgba(44, 53, 61, 0.2);
}
.trusted__wrapper::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -33px;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to right bottom, #f66a28, #e66325, #d65c22, #c65620, #b74f1d, #ad4a1b, #a44518, #9a4016, #933c13, #8c3811, #86340e, #7f300b);
  border-radius: 50%;
  filter: blur(37px);
}
.trusted__title {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5490196078);
}
.trusted__brands-list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
}
.more {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.more__info {
  max-width: 425px;
}
.more__info-title {
  font-size: var(--title-size);
  color: var(--color-light);
  padding-bottom: 30px;
}
.more__info-text {
  line-height: 30px;
  padding-bottom: 60px;
}
.more__tools {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 50px 24px;
}

.more--tools {
  max-width: 288px;
  padding: 28px 22px;
}

.more__btn {
  padding: 16px 40px;
}

.dev {
  padding-top: 200px;
}
.dev__slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.dev__slide-people {
  position: relative;
}
.dev__slide-people__name {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  right: 20px;
  bottom: 25px;
  border-radius: 8px;
  z-index: 10;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(40, 48, 54, 0.2);
  padding: 10px 22px;
  box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.13);
}
.dev__slide-people__name::after {
  content: "";
  position: absolute;
  right: 31px;
  bottom: 34px;
  width: 20px;
  height: 20px;
  background-color: var(--color-accent);
  filter: blur(20px);
  z-index: 5;
}
.dev__slide-people__name::before {
  content: "";
  position: absolute;
  right: 7px;
  bottom: -10px;
  width: 30px;
  height: 25px;
  background-color: rgb(0, 211, 255);
  filter: blur(19px);
  z-index: 8;
}
.dev__slide-people__name-all {
  color: rgba(255, 255, 255, 0.78);
  font-size: 26px;
}
.dev__slide-people__name-prof {
  color: var(--color-grey);
  font-size: 16px;
}
.dev__slide-info {
  color: rgba(255, 255, 255, 0.78);
  font-size: 14px;
  max-width: 395px;
  line-height: 30px;
  letter-spacing: 1.5%;
}
.dev__slide-info__text {
  position: relative;
}
.dev__slide-info__text::before {
  content: url(../../src/Components/Dev/Image/psevdo.png);
  position: absolute;
  top: -50px;
  left: -45px;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  color: var(--color-accent) !important;
}

.ant-carousel .slick-prev::before {
  color: currentColor !important;
}

.slick-arrow.slick-prev {
  font-size: 20px !important;
}

.ant-carousel .slick-next::before {
  color: currentColor !important;
}

.slick-arrow.slick-next::after,
.slick-arrow.slick-prev::after {
  width: 24px;
  height: 24px;
  border-inline-width: 4.5px 0;
  border-block-width: 4.5px 0;
}

.ant-carousel .slick-dots li button {
  background: rgb(61, 74, 85);
  width: 44px;
  height: 8px;
}

.ant-carousel .slick-dots {
  gap: 30px;
}

.ant-carousel .slick-dots li.slick-active button {
  background: var(--color-accent);
}

.ant-carousel .slick-prev.slick-disabled,
.ant-carousel .slick-next.slick-disabled {
  opacity: 1;
  color: rgba(255, 255, 255, 0.28) !important;
}

.ant-carousel .slick-dots-bottom {
  bottom: -100px;
}

.join {
  max-width: 570px;
  text-align: center;
  padding: 350px 0 240px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join__unfo {
  padding: 25px 0 100px 0;
  max-width: 425px;
  line-height: 30px;
}
.join__input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px 8px 24px;
  background: rgb(40, 48, 54);
  border-radius: 15px;
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.1);
}
.join__input input {
  background: rgb(40, 48, 54);
  color: var(--color-light);
}

.footer {
  display: flex;
}
.footer__wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 70px;
  padding-bottom: 100px;
}
.footer__list {
  display: flex;
  gap: 115px;
}
.footer__item {
  max-width: 263px;
}
.footer__item-main {
  max-width: 263px;
  margin-right: 150px;
}
.footer__item-logo {
  display: flex;
  font-size: 24px;
  color: #fff;
  gap: 12px;
  padding-bottom: 25px;
}
.footer__item-info {
  color: var(--color-light);
  font-size: 18px;
  padding-bottom: 20px;
}
.footer__item-text {
  font-size: 16px;
}
.footer__item-title {
  color: var(--color-light);
  font-size: 22px;
  padding-bottom: 20px;
}
.footer__item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__item-link {
  color: rgba(255, 255, 255, 0.55);
  transition: all 0.5s;
}
@media (hover: hover) {
  .footer__item-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer__item-link:active {
    color: var(--color-accent);
  }
}/*# sourceMappingURL=main.css.map */