@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after,
*:focus,
*:active {
  box-sizing: border-box;
  border: none;
}

ul,
li,
a {
  padding: 0;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/**
         Убираем внутренние отступы слева тегам списков,
         у которых есть атрибут class
        */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
         Убираем внешние отступы body и двум другим тегам,
         у которых есть атрибут class
        */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
         Убираем внешние отступы вертикали нужным тегам,
         у которых есть атрибут class
        */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
         Убираем стандартный маркер маркированному списку,
         у которого есть атрибут class
        */
:where(ul[class]) {
  list-style: none;
}

/**
         Обнуляем вертикальные внешние отступы параграфа,
         объявляем локальную переменную для внешнего отступа вниз,
         чтобы избежать взаимодействие с более сложным селектором
        */
/**
         Внешний отступ вниз для параграфа без атрибута class,
         который расположен не последним среди своих соседних элементов
        */
/**
         Упрощаем работу с изображениями
        */
img {
  display: block;
  max-width: 100%;
}

/**
         Наследуем свойства шрифт для полей ввода
        */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  height: 100%;
  /**
           Плавный скролл
          */
  scroll-behavior: smooth;
}

body {
  /**
           Пригодится в большинстве ситуаций
           (когда, например, нужно будет "прижать" футер к низу сайта)
          */
  min-height: 100%;
  /**
           Унифицированный интерлиньяж
          */
  line-height: 1.5;
}

/**
         Приводим к единому цвету svg-элементы
        */
svg *[stroke] {
  stroke: currentColor;
}

/**
         Чиним баг задержки смены цвета при взаимодействии с svg-элементами
        */
svg * {
  transition-property: fill, stroke;
}

/**
         Удаляем все анимации и переходы для людей,
         которые предпочитают их не использовать
        */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms;
    scroll-behavior: auto !important;
  }
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul,
ul li {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  padding: 0;
}

.btn,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:focus,
button:focus {
  outline: none;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--main-size);
  color: var(--color-grey);
  background-color: var(--color-strict-gray);
}

* {
  border: 0;
}

.container {
  max-width: 1255px;
  padding-inline: 15px;
  margin-inline: auto;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.6s;
}
@media (hover: hover) {
  .button:hover {
    transform: translate(0, -2px);
  }
}
@media (hover: none) {
  .button:active {
    transform: translate(0, -2px);
  }
}

.active {
  background-color: var(--color-accent);
}

.title {
  font-size: var(--title-size);
  color: var(--color-light);
  line-height: 140%;
  letter-spacing: 0%;
}

@font-face {
  font-family: "Poppins";
  src: url("./../../../fonts/AnyConv.com__Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/AnyConv.com__Roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
:root {
  --color-grey: rgba(255, 255, 255, 0.55);
  --color-light: rgba(255, 255, 255, 0.9);
  --color-accent: #ff6e30;
  --color-accent-active: #ffa537;
  --color-accent-inactive: rgba(255, 165, 55, 0.55);
  --color-strict-gray: #1e252b;
  --main-size: 18px;
  --title-size: 48px;
  --font-family-base: "Poppins", sans-serif;
  --font-family-alt: "Roboto", sans-serif;
}

.header {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__name {
  display: flex;
  gap: 12px;
  align-items: center;
}
.header__name-image {
  height: 38px;
  aspect-ratio: 1;
}
.header__name-title {
  color: var(--color-light);
}
.header__list {
  display: flex;
  gap: 27px;
}
.header__item {
  transition: all 0.5s;
}
@media (hover: hover) {
  .header__item:hover {
    color: var(--color-accent);
    transform: translate(0, -1px);
  }
}
@media (hover: none) {
  .header__item:active {
    color: var(--color-accent);
    transform: translate(0, -1px);
  }
}
.header__item-menu {
  display: flex;
  align-items: center;
  gap: 2px;
}
.header__link {
  color: var(--color-grey);
  font-size: 16px;
  transition: all 0.5s;
}
@media (hover: hover) {
  .header__link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__link:active {
    color: var(--color-accent);
  }
}

.awesome {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 60px;
}
.awesome__info-title {
  padding-top: 45px;
  padding-bottom: 26px;
}
.awesome__info-text {
  line-height: 30px;
  padding-bottom: 60px;
}
.awesome__image {
  width: clamp(14rem, 11.3099rem + 28.5446vw, 37rem);
}

.awesome__info-form {
  padding: 8px 11px 8px 18px;
  display: flex;
  width: 100%;
  background-color: #283036;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
}
.awesome__info-form input {
  background-color: #283036;
  color: var(--color-light);
}
.awesome__info-form__con {
  display: flex;
  gap: 7px;
}

.awesome_stay-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.awesome__socials-list {
  display: flex;
  padding-top: 8vw;
  gap: 37px;
  transition: all 0.5s;
}
@media (hover: hover) {
  .awesome__socials-list img:hover {
    transform: scale(1.2);
  }
}
@media (hover: none) {
  .awesome__socials-list img:active {
    transform: scale(1.2);
  }
}

.popular {
  padding-top: 200px;
  text-align: center;
}
.popular__tools {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 100px;
}
.popular__info-text {
  line-height: 25px;
  padding-top: 20px;
  margin-bottom: 90px;
}
.popular__button {
  color: var(--color-accent);
  padding: 17px 38px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-top: 100px;
}

.tools__button {
  color: var(--color-gray);
  padding: 9px 35px;
  border-radius: 8px;
  transition: all 0.2s;
}
@media (hover: hover) {
  .tools__button:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .tools__button:active {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
.tools_con {
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  text-align: start;
  max-width: 392px;
  padding: 30px;
  transition: all 0.5s;
  transition-duration: 0.5s;
}
@media (hover: hover) {
  .tools_con:hover {
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    background: rgba(40, 48, 54, 0.3);
    stroke: rgba(255, 255, 255, 0.08) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0);
  }
  .tools_con:hover::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 74px;
    right: -1px;
    top: -13px;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(255, 110, 48, 0.6);
    filter: blur(28px);
  }
}
@media (hover: none) {
  .tools_con:active {
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    background: rgba(40, 48, 54, 0.3);
    stroke: rgba(255, 255, 255, 0.08) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0);
  }
  .tools_con:active::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 74px;
    right: -1px;
    top: -13px;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(255, 110, 48, 0.6);
    filter: blur(28px);
  }
}
.tools__text {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 42px;
}
.tools__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tools__buttons-main {
  display: flex;
  gap: 12px;
}
@media (hover: hover) {
  .tools__buttons-main__like:hover path {
    fill: #fd3b41;
    fill-opacity: 1;
  }
}
@media (hover: none) {
  .tools__buttons-main__like:active path {
    fill: #fd3b41;
    fill-opacity: 1;
  }
}
.top__info {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}
.top__info-head__name {
  font-size: 24px;
}
.top__info-head__payment {
  color: var(--color-accent-active);
}

.tools__buttons-main__like,
.tools__buttons-main__folder {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  border-radius: 8px;
}

.tools--active {
  background-color: #283036;
}

.tools__opacity {
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgba(40, 48, 54, 0.6);
  stroke: rgba(255, 255, 255, 0.08) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0);
}
.tools__opacity::after {
  transition: all 1s;
  content: "";
  position: absolute;
  width: 75px;
  height: 74px;
  right: -1px;
  top: -13px;
  border-radius: 50%;
  background: rgba(255, 110, 48, 0.6);
  filter: blur(28px);
}

.button__like-selected {
  background-color: #283036;
}

.trusted {
  padding-block: 200px;
}
.trusted__wrapper {
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.1019607843);
  border-radius: 25px;
  padding: 55px 83px;
  background: rgba(44, 53, 61, 0.2);
}
.trusted__wrapper::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -33px;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to right bottom, #f66a28, #e66325, #d65c22, #c65620, #b74f1d, #ad4a1b, #a44518, #9a4016, #933c13, #8c3811, #86340e, #7f300b);
  border-radius: 50%;
  filter: blur(37px);
}
.trusted__title {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5490196078);
}
.trusted__brands-list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
}/*# sourceMappingURL=main.css.map */